
.dashboard-container {
  max-width: 2000px;
  margin: 0 auto;
  padding: 40px 20px;
  background-color: #d6d1ca; 
  min-height: 100vh;
}

.gob-bar { 
  image-rendering: optimizeQuality;
  background: #56212f; 
  padding: 0 30px;  
  box-shadow: 0 4px 10px rgba(0,0,0,0.2); 
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky; 
  top: 0;
  z-index: 1000;
  height: 70px; 
}

.logos-container {
  display: flex;
  align-items: center;
  gap: 30px;
}

.SEIEM {
  height: 50px; 
  width: auto;
  object-fit: contain;
   filter: drop-shadow(0 2px 4px rgba(0,0,0,0.3)); 
}

.logo-estado {
  height: 48px;
  width: auto;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  border-bottom: 2px solid #56212f;
  padding-bottom: 15px;
}

.header h1 {
  font-size: 1.8rem;
  color: #56212f;
  font-weight: 800;
  margin: 0;
}

.header p {
  color: #977e5b; 
  margin: 5px 0 0 0;
  font-weight: 500;
}

.btn-logout {
  background-color:#56212f;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: 700;
  cursor: pointer;
  transition: transform 0.2s, background 0.3s;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.btn-logout:hover {
  background-color: #56212f;
  transform: translateY(-5px);
}


.btn-create {
  background-color:#56212f;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: 700;
  cursor: pointer;
  transition: transform 0.2s, background 0.3s;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.btn-create:hover {
  background-color: #56212f;
  transform: translateY(-5px);
}



.stats-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-bottom: 30px;
    width: 100%;
}

.stat-card {
    background: #fff;
    padding: 25px 15px;
    border-radius: 20px;
    border-bottom: 5px solid #56212f; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.stat-label {
    color: #977e5b; 
    font-weight: 800;
    font-size: 0.85rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 8px; 
}

.stat-number {
    color: #000000;
    font-size: 2.8rem; 
    font-weight: 800;
    line-height: 1;
}

.table-container-centered {
  display: auto;
  justify-content: center;
}

.table-card table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px; 
    margin-top: 10px;
}
.table-card th {
    color: #ffffff;
    background-color: #56212f; 
    padding: 15px;
    text-transform: uppercase;
    font-size: 0.85rem;
    font-weight: 700;
    text-align: center; 
}
.table-card td {
    padding: 15px;
    vertical-align: middle;
    text-align: center; 
    background-color: #ffffff;
    color: #333;
    font-size: 0.95rem;
}

.table-card td:first-child {
    text-align: left; 
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: flex-start;
}
.card-header { padding: 20px 25px; background: #fdfdfd; }
.card-header h2 { font-size: 1.2rem; color: #56212f; }

table { width: 100%; border-collapse: collapse; }

thead th {
  background-color: #56212f;
  color: #c3b08f;
  padding: 15px 25px;
  text-align: left;
  font-size: 0.75rem;
  letter-spacing: 1px;
  padding: 18px 15px; 
  text-align: left;
}

tbody td { padding: 15px 25px; border-bottom: 1px solid #f0f0f0; }


.btn-perf {
  background-color: #fce7f3;
  color: #56212f;
  border: 1px solid #56212f;
  padding: 6px 12px;
  border-radius: 6px;
  font-weight: 700;
  font-size: 0.7rem;
  cursor: pointer;
}

.btn-perf:hover { background: #56212f; color: #fff; }

.btn-icon-text {
  background: none;
  border: none;
  color: #977e5b;
  font-weight: 700;
  font-size: 0.8rem;
  cursor: pointer;
  margin-left: 10px;
}

.btn-icon-text.delete { color: #b91c1c; }

.badge {
    padding: 4px 12px;
    border-radius: 6px;
    font-size: 0.75rem;
    font-weight: 800;
    display: inline-block;
    text-align: center;
    min-width: 90px; 
}
.badge-secretaria { background: #e0f2fe; color: #0369a1; }
.badge-supervisor { background: #fef3c7; color: #b45309; }
.badge-personal { background: #dcfce7; color: #15803d; }

.avatar-circle {
  width: 32px; height: 32px;
  background: #56212f; color: #c3b08f;
  border-radius: 50%; display: inline-flex;
  align-items: center; justify-content: center;
  margin-right: 10px; font-weight: 700;
}

.actions-cell {
  text-align: center;
  vertical-align: middle;
  padding: 12px !important;
}
.actions-buttons {
  display: flex !important;
  gap: 20px !important;        
  justify-content: center;     
  align-items: center;         
  flex-wrap: nowrap;          
}

.btn-action {
    padding: 8px 16px;    
    border-radius: 10px;   
    font-weight: 700;
    font-size: 0.85rem;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05); 
    
  
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;      
}

.btn-action.view {
  background-color: #e0f2fe;
  color: #0369a1;
}
.btn-action.btn-action.view:hover {
    filter: brightness(0.9);
    transform: translateY(-7px);
}

.btn-action.edit {
  background-color: #fef3c7; 
  color: #b45309;
}
.btn-action.btn-action.btn-action.edit:hover {
    filter: brightness(0.9);
    transform: translateY(-7px);
}

.btn-action.delete {
  background-color: #fee2e2;
  color: #b91c1c; 
}
.btn-action.btn-action.delete:hover {
    filter: brightness(0.9);
    transform: translateY(-7px);
}

.btn-action.performance {
    background-color: #84cd91; 
    color: #045c21;           
}
.btn-action.btn-action.btn-action.performance:hover {
    filter: brightness(0.9);
    transform: translateY(-7px);
}
.header-actions {
  display: flex;
  gap: 20px; 
  align-items: center;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; 
  backdrop-filter: blur(2px); 
}



