<div class="page-wrapper">

  <header>
    <div class="header-top">

      <div class="logos-container">
  <img src="icons/Educacion.svg" class="logo-header" alt="nada">
      </div>

    </div>
    
    <div class="color-bar-top"></div>
  </header>

  <main class="main-content">
    
    <div class="login-card-border">
      <div class="login-content">

        
        <div class="empty-space">
          <div class="brand-showcase">
             <img src="icons/seiem.svg" alt="Logo Grande" class="hero-logo">
          </div>
        
          <div class="blob blob-top"></div>
          <div class="blob blob-bottom"></div>
        
        </div>

<div class="form-section">
          
          <div *ngIf="!vistaRecuperar" class="fade-in-section">
            <h2>Inicio de sesión</h2>

            <div class="group">
              <input required="" class="main-input" type="email" [(ngModel)]="email">
              <span class="highlight-span"></span>
              <label class="lebal-email">Correo Electrónico</label>
            </div>

            <div class="group">
              <input required="" class="main-input" type="password" [(ngModel)]="password">
              <span class="highlight-span"></span>
              <label class="lebal-email">Contraseña</label>
            </div>

            <div class="forgot-pass-container">
              <a (click)="toggleVista()" class="forgot-pass-link" style="cursor: pointer;">
                ¿Olvidaste tu contraseña?
              </a>
            </div>

            <div class="btn-container">
              <button class="btn-primary" (click)="login()">Ingresar</button>
            </div>
          </div>

          <div *ngIf="vistaRecuperar" class="fade-in-section">
            <h2>Recuperar Cuenta</h2>
            
            <p style="color: #666; font-size: 0.9rem; margin-bottom: 30px;">
              Ingresa tu correo electrónico y te un codigo de recuperacion.
            </p>

            <div class="group">
              <input required="" class="main-input" type="email" [(ngModel)]="email">
              <span class="highlight-span"></span>
              <label class="lebal-email">Correo Electrónico</label>
            </div>

            <div class="btn-container" style="justify-content: space-between; align-items: center;">
              <a (click)="toggleVista()" style="color: #8b2136; cursor: pointer; font-weight: 600;">
                ← Volver
              </a>

              <button class="btn-primary" (click)="enviarCorreoRecuperacion()">Enviar</button>
            </div>
          </div>

        </div>

      </div>
    </div>
  </main>

  <footer>
    <div class="fondo-pattern"></div>

  </footer>

</div>