.edit-container {
  background: rgb(252, 249, 249);
  padding: 20px;
  border-radius: 40px;
  width: 100%;
  max-width: 350px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}
.modal-card {
  background: white;
  padding: 30px;
  border-radius: 15px;
  width: 100%;
  max-width: 400px; 
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  text-align: center;
}

.modal-header {
  color: #56212f; 
  font-weight: 800;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.edit-header {
  display: flex;
  justify-content: center;
  position: relative;
  font-weight: bold;
  margin-bottom: 20px;
}

.btn-close-x {
  position: absolute;
  right: 0;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.input-group {
  margin-bottom: 15px;
  text-align: center;
}

.input-group label {
  display: block;
  color: #977e5b;
  font-size: 0.9rem;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
}

.edit-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}


.btn-cancel {
  background: none;
  border: none;
  color: #55212e;
  font-weight: bold;
  cursor: pointer;
  font-size: 0.9rem;
}


.btn-save {
  background: none;
  border: none;
  color: #55212e; 
  font-weight: bold;
  cursor: pointer;
  font-size: 0.9rem;
}