<div class="modal-card">
  <div class="modal-header">
    <h3>Detalles del Usuario</h3>
    <button class="btn-x" (click)="close.emit()">×</button>
  </div>
  <div class="modal-body">
    <div class="info-group">
      <label>Nombre:</label>
      <p>{{ user?.nombre }}</p>
    </div>
    <div class="info-group">
      <label>Email:</label>
      <p>{{ user?.email }}</p>
    </div>
    <div class="info-group">
      <label>Rol:</label>
      <p><span class="badge">{{ user?.rol }}</span></p>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn-secondary" (click)="close.emit()">Cerrar</button>
  </div>
</div>