
.cat-internet { background-color: #2980b9; color: white; }
.cat-office { background-color: #d35400; color: white; }
.cat-telefonia { background-color: #2c3e50; color: white; }
.cat-tecnico { background-color: #16a085; color: white; }